      <tr>
         <td><%=survey.level%></td>
         <td><%=survey.instrument%></td>
         <td><%=answer.qid%></td>
         <td><%=answer.ans%></td>
         <td><%=answer.vote%></td>
      </tr>
