      &nbsp;
      <div style="display:inline-block">
         <audio class="mejs-player ans-player" style="width:200px">
            <source type="audio/mpeg" src="/<%= qid.to_s.rjust(4,'0') + '_' + @ans_value %>.mp3" />
         </audio>
      </div>
      <br>
      <%= builder.label "難聽 bad" %>
      <% for i in (1..5) %>
      <%= builder.radio_button :vote, i , :required => true %>
      <%= builder.label i %>
      <% end %>
      <%= builder.label "好聽 good" %>
      <br>
