<h1>電腦自動演奏實驗問卷</h1>
<p>您好：<br>這份問卷是電腦自動演奏實驗的一部分，旨在研究聽眾對電腦自動演奏的效能評價。</p>
<p>此份問卷共分三個部份，第一部份 <%= @p1_ids.length %> 題，第二部份 <%= @p2_ids.length %> 題，第三部份 <%= @p3_ids.length %> 題，<u>只需要大約 <%= (@p1_ids.length + @p2_ids.length + @p3_ids.length) * 25 / 60 %> ~ <%= (@p1_ids.length + @p2_ids.length + @p3_ids.length) * 50 / 60 %> 分鐘</u></p>
<p>本問卷內容純粹用於學術用途，不會紀錄您的個人資料，請安心填寫。</p>

<p>台大電機所 呂行 敬上</p>

<!--=====================================-->
<h2>基本資料</h2>
<%= form_for @survey,  url: surveys_path do |f| %>
   <%= f.label :level, "您的音樂程度："%>
   <%= f.select :level, options_for_select([['沒有受過任何樂器或音樂訓練', 1], ['業餘演奏者',2],['音樂專業人士或音樂學生',3]]) %>
   <br>
   <%= f.label :instrument, "(選填)您學過的樂器/時間："%>
   <%= f.text_field :instrument, :placeholder => "範例:鋼琴10年、聲樂5年" %>

<!--=====================================-->
   <h2>Part 1</h2>
   <h4>以下你會聽到兩段錄音A與B，其中一段是來自於<u>真人演奏</u>，另外一段是<u>電腦演奏</u>，請根據音樂的表現來判斷何者是<u>真人演出</u>：</h4>
   <%= f.fields_for :p1answers, @survey.p1answers do |builder| %>
      <% qid = @p1_ids.pop %>
      <% @ans_value = @p1_ans.pop %>
      請問以下音樂片段A或B何者比較像是<b>真人演出</b>?:
      <br>
      <%= builder.hidden_field(:qid, :value => qid)%>
      <%= builder.hidden_field(:ans, :value => @ans_value)%>
      <%= render "surveys/option", :builder => builder, :qid => qid%>

      <br> <br> <br>
   <% end %>
   <%= f.label :comment1, "\(選填\)對於Part 1 的問題，請問您的判斷準則是?" %><br>
   <%= f.text_area :comment1 %>



   <%= f.submit "送出答案" %>
<% end %>
