<h1>Test</h1>

<%= form_for @survey,  url: surveys_path do |f| %>
   <%= f.label :level %>
   <%= f.select :level, options_for_select([['low', 1], ['mid',2],['high',3]]) %>
   <br>
   <%= f.fields_for :answers do |builder| %>
      <%totalQCount= 20%>
      <%qCount = 5%>
      <%ids = (1..totalQCount).to_a.sample(qCount)%>

      <%= builder.label ids.pop.to_s %>
      <%= builder.label "A" %>
      <%= builder.radio_button :ans, "cub" %>
      <%= builder.label "B" %>
      <%= builder.radio_button :ans, "hel" %>
      <%= builder.label "Don't know" %>
      <%= builder.radio_button :ans, "no" %>
      <br>
   <% end %>
   <%= f.submit "Send" %>
<% end %>
